<section class=" sectionComponent w-100">
  <app-flyer></app-flyer>
</section>
<div class="container d-flex justify-content-center" >
  <div class="row">

    @for (celular of filteredCelulares; track celular.nombre){
      <div class="col-md-4 mb-3 ">
        <div class="card mx-auto " style="width: 18rem;">
          <div class="card-body">
<a href="./assets/Imagenes/a15.png"></a>
            <div><img [srcset]="celular.imagen" class="card-img-top"  alt="{{celular.nombre}}" srcset=""></div>
            <h5 class="card-title mt-2">{{celular.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{celular.nombre}}</h6>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: {{celular.precio}}</li>
            <li class="list-group-item">Disponibilidad: <div [ngClass]="celular.stock > 0 ? 'en-stock' : 'agotado'">
              {{ celular.stock > 0 ? 'En Stock' : 'Agotado' }}
            </div> </li>
          </ul>

          <div [ngClass]=" celular.stock>0 ? 'card-body ml-2 justify-content-center' : 'd-none'">
             <button   class="btn btn-primary" (click)="addToCarrito(celular)">Agregar al Carrito</button>

          </div>
        </div>
      </div>

    }

    </div>



</div>
